



$black: #252B42;
$gray: #737373;
$white:#fff;





$mobile: "(max-width: 767px)";

$tablet: "(max-width: 991px)";

$mobile-sm: "(max-width: 565px)";

$notebook: "(max-width: 1199px)";



// Font size*********//

$title: 40px;
$card_title: 24px