.advice {
    margin-top: 175px;
}





// .advice__block {}

// .advise__col {}

.advise__item {
    padding: 0;
}

.content {
    padding: 30px;
}

.content__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: $black;
}

.content__text {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    margin-top: 15px;
}

.advise__img {
    display: block;
    max-width: 100%;
    height: auto;
    width: -webkit-fill-available;
}

// .advise__photo {
//     display: flex;
//     justify-content: center;
// }