
.clients__items {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.clients__item {
    
    flex: 0 1 16.6667%;
    padding: 8px 15px;
    text-align: center;

}

.clients {
    padding-top: 50px;
    padding-bottom: 58px;
}