 .features {
    margin-top: 205px;

    @media (max-width: 460px) {
       margin-top: 100px;


    }
 }


 .fetures__header {
    text-align: center;
    margin-bottom: 50px;

 }

 .header__title {
    font-weight: 700;
    font-size: $title;
    line-height: 57px;
    color: $black;
 }

 .header__text {
    max-width: 470px;
    margin: 0 auto;
    font-weight: 500;
    line-height: 20px;
    margin-top: 10px;
 }

 //  .advantages {
 //     display: flex;
 //     margin: 0 -15px;
 //     flex-wrap: wrap;
 //  }

 .black {
    height: 300px;
 }



 .advantage__col {

    padding: 0 15px;
    width: 25%;

    @media (max-width: 890px) {
       width: 50%;
       padding: 15px 15px;

    }

    @media (max-width: 460px) {
       width: 100%;


    }


 }


 .advantage__item {
    padding: 30px;
    background-color: $white;
    height: 100%;

 }

 .advantage___img {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
 }

 .more {
    margin-bottom: 26px;
 }


 .advantage__conent {
    text-align: center;
 }

 .advantage__value {

    font-weight: 700;
    font-size: $title;
    line-height: 57px;
    color: $black;
    margin-bottom: 10px;

 }

 .advantage__text {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
 }




 
 

 .swiper-pagination-bullet {
    
    width: 15px;
    height: 15px;
    line-height: 20px;
    font-size: 13px;
 }

 .swiper-pagination {
   position: relative;
   margin-top: 50px;
 }