.modal-container {
    display: none;
    width: 100%;
    height: 100%;
    padding: 10px;
    overflow: auto;
    background-color: rgba(19, 17, 17, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

    &.active {
        display: flex;
        
    }
}

.modal {
    background-color: #fff;
    box-shadow: 0 0 10px rgb(0 0 0 / 30%);
    position: relative;
    overflow: hidden;
    margin: auto;
    width: 100%;
    max-width: 500px;
    




}

.modal__header {
    background-color: #30336b;
    color: #fff;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close-btn {

    background: none;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
}

.modal__content {
    padding: 20px;
    color: $black;
    font-size: 16px;
}

.modal__content-text {}

.modal__form {

    .form-input {
        padding: 8px;
        width: 100%;
    }

}

.modal__form label {
    margin-bottom: 5px;
    display: block;
}

.modal__form-item {
    margin: 25px 0;
}

.submit-btn {

    background-color: rgb(206, 70, 70);
    border: 0;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    padding: 8px 12px;
}